<%= form_with :model => [@customer, @property, @property.meter], :local => true do |f| %>
  <div class="form-group">
    <%= f.label :reading %>
    <div class="input-group">
      <%= f.text_field :reading, :class => 'form-control', :value => number_with_precision(f.object.reading, :precision => f.object.decimal_position) %>
      <div class="input-group-append">
        <span class="input-group-text input-group-text-unit">kWh</span>
        <%= f.submit "Save", class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>
 