<% provide(:title, 'Home') %>

<%= render 'layouts/navbar_main', disabled_link: nil %>

<div class="jumbotron">
  <div class="container">
    <h1>Minishop</h1>
    <p>We are the most expensive power company in the world</p>
    <hr class="my-4">
    <%= link_to "Join Us", "/signup", class: "btn btn-light" %>
  </div>
</div>