<% provide(:title, 'Sign Up') %>

<div class="signup-background">
  <div class="container">
    <div class="row">
      <a class="navbar-brand" href="/">
        <%= fa_icon "bolt"%>Minishop
      </a>
    </div>
  </div>
</div>
