<% provide(:title, 'Sign Up') %>

<%= render 'layouts/navbar_main', disabled_link: 'signup' %>

<div class="container">
  <div class="content-wrapper">
    <h1>Join Minishop</h1>
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active">Step 1: Customer Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Step 2: Account Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Step 3: Confirmation &amp; Next Steps</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div id="signup-form">
        <%= render 'layouts/flash' %>      
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
