<table class="table table-hover" id="properties-table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Register Serials</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= render register_serials %>
  </tbody>
</table>