// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login-header {
  padding-top: 150px;
}

#login-area {
  margin-top: 20px;
  padding: 40px 60px 50px 60px;
}

#login-submit {
  margin-top: 40px;
}
