<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Number</th>
      <th scope="col">Street Name</th>
      <th scope="col">Suburb</th>
      <th scope="col">City</th>
      <th scope="col">ICP Number</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= render properties %>
  </tbody>
</table>