<div class="btn-group" role="group">
  <%= link_to "All", admin_properties_path, :class => "btn #{ status == nil ? "btn-primary" : "btn-secondary" }", :role => "button"  %>
  <%= link_to "Active", admin_properties_path(:status => 1), :class => "btn #{ status == "1" ? "btn-success" : "btn-secondary" }", :role => "button"  %>
  <%= link_to "Pending", admin_properties_path(:status => 0), :class => "btn #{ status == "0" ? "btn-warning" : "btn-secondary" }", :role => "button"  %>
</div>