<% provide(:active_link, 'properties') %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Properties</li>
  </ol>
</nav>
<%= render 'status_toggle', :status => @status %>

<%= render 'properties_table', :properties => @properties %>