<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Step 1: Customer Information", "#", class: "nav-link #{enabled_tab == 1 ? 'active' : 'disabled'}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Step 2: Account Information", "#", class: "nav-link #{enabled_tab == 2 ? 'active' : 'disabled'}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Step 3: Properties Information", "#", class: "nav-link #{enabled_tab == 3 ? 'active' : 'disabled'}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Step 4: Confirmation", "#", class: "nav-link #{enabled_tab == 4 ? 'active' : 'disabled'}" %>
    </li>
  </ul>
</div>